/data_exemples/
/experiments/segementation-gnn/utils/
/experiments/segementation-gnn/.venv/
/.venv/
/venv/
/.ruff_cache/
/.mypy_cache/
/_test/.pytest_cache/
/experiments/segementation-gnn/venv*

*.pyc
.idea

/experiments/segementation-gnn/data/
/src/Sherlock_similarity.egg-info/
/venv/
useful_command.txt

*.egg-info/*
*.ckpt



train_logs/*